<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.browser.app.modular.hbase.dao.BlockMapper">

    <!--&lt;!&ndash; 通用查询映射结果 &ndash;&gt;-->
    <!--<resultMap id="BaseResultMap" type="com.xyz.browser.app.modular.hbase.model.Block">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="jsonrpc" property="jsonrpc"/>-->
    <!--</resultMap>-->


    <!--<select id="list" resultMap="BaseResultMap">-->
        <!--select * from vns.block-->
    <!--</select>-->

    <select id="selectByHash" resultType="com.xyz.browser.app.modular.hbase.model.Block">
        select * from vns.block
        <where>
            hash = '${_parameter}'
        </where>
    </select>

    <select id="selectHashByNumber" resultType="string">
        select hash from vns.block
        <where>
            number = '${_parameter}'
        </where>
        limit 1
    </select>

    <select id="checkMiner" resultType="string">
        select hash from vns.block
        <where>
            miner = '${_parameter}'
        </where>
        limit 1
    </select>
</mapper>
