<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.browser.app.modular.hbase.dao.ContractMapper">

    <sql id="Base_Column_List">
        hash,
        total,
        decimal,
        name,
        symbol,
        asset,
        blockNumber,
        contract,
        tokenStandard,
        tokenAction,
        tfrom,
        tto
    </sql>

    <select id="selectAllList" resultType="com.xyz.browser.app.modular.hbase.model.Contract">
        select
        <include refid="Base_Column_List" />
        from vns.contract
    </select>


    <update id="updateContractTotal" parameterType="java.util.Map">
       upsert into vns.contract(hash,total,contract,tokenAction) values (#{hash},#{total},#{contract},#{tokenAction})
    </update>

</mapper>
